.bill-to{
    height: auto;
    border: 2px solid var(--sub-container-border);
    border-radius: var(--sub-elem-border-radius);
    /* border: none; */
    font-family: var(--font-family);
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.bill-to h1{
    color: var(--primary-blue);
}
.bill-to h4,h5{
    color: var(--secondary-color);
}

.bill-to-and-edit{
    display: flex;
    justify-content: space-between;
}

.edit-bill-to{
    border-radius: var(--sub-elem-border-radius);
    padding: 8px 14px;
    color: white;
    cursor: pointer;
    display: inline-flex;
    border: none;
    gap: 6px;
    font-family: var(--font-family);
    align-items: center;
    font-size: 20px;
    background-color: var(--primary-blue);
}
.edit-bill-to:hover{
    background-color: var(--button-hover);
}
.edit-bill-to svg{
    color: white;
    background-color: var(--primary-blue);
}